body {
    font-family: 'Lato', sans-serif;
    color: black;
}

h1 {
  font-size: 40px;
  padding: 40px;
  background-color: rgb(201, 221, 228);
  margin: 0px;
  word-spacing: 6px;
  letter-spacing: 1px;
  font-weight: lighter;
  text-transform: uppercase;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 20px;
  font-weight: bold;
}

/* Navigation Section */
.navigation {
    font-size: 1vw;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 60px;
}

li {
    float: left;
  }
  
  a {
    display: block;
    position: relative;
    padding: 12px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }

  /* Change the link color on hover */
li a:hover {
    color: rgb(126, 153, 144);
  }

/* Table section */
table {
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(201, 221, 228);
  padding: 0;
}

table, th, td{
  border: 1px solid black;
  height: 50px;
  padding: 10px;
  text-align: left;
}

/* Form section */
form {
   padding: 0px;
   appearance: none;
}

#select {
   font-size: 18px;
}

.answers {
   padding: 30px;
   margin: 20px;
   font-size: 18px;
}

/* Gif Styling */

.gif {
display: none;
}

.one {
  text-align: center;
}

.two {
  text-align: center;
}

.three {
  text-align: center;
}
    
